<header class="header">
    <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
        <a href="" class="navbar-brand font-weight-bold text-uppercase text-base">DESAFIOA</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            <li class="nav-item">
                <form id="searchForm" class="ml-auto d-none d-lg-block">
                    <div class="form-group position-relative mb-0">
                        <button type="submit" style="top: -3px; left: 0;"
                            class="position-absolute bg-white border-0 p-0">
                            <i class="o-search-magnify-1 text-gray text-lg"></i>
                        </button>
                        <input type="search" placeholder="Bilatu ..." class="form-control form-control-sm border-0 no-shadow pl-4">
                    </div>
                </form>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                    <img src="img/avatar-6.jpg" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow">
                </a>
                <div aria-labelledby="userInfo" class="dropdown-menu">
                    <a href="#" class="dropdown-item">
                        <strong class="d-block text-uppercase headings-font-family">Erabiltzaile Izena</strong>
                        <small>Puntuak</small>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Ezarpenak</a>
                    <a href="#" class="dropdown-item">Zerbait</a>
                    <div class="dropdown-divider"></div>
                    <a href="" class="dropdown-item">Irten</a>
                </div>
            </li>
        </ul>
    </nav>
</header>