{% extends "kudeaketa/oinarria.html" %}

{% block edukia %}
<section class="py-5">
  <div class="row mb-4">
    <div class="col-lg-8 mb-4 mb-lg-0">
      <div class="card">
        <div class="card-header">
          <h2 class="h6 text-uppercase mb-0">Aizkora desafioa</h2>
        </div>
        <div class="row card-body">
          <div class="col-sm text-right border-right">
            <h4>Iker Vicente</h4>
            <p class="mb-5 text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button id="apustuBotoia" type="button" class="btn btn-primary">Jokatu</button>
                </div>
                <input type="text" aria-label="Dollar amount (with dot and two decimal places)" aria-describedby="apustuBotoia" class="form-control">
                <div class="input-group-append"><span class="input-group-text">$</span></div>
              </div>
            </div>
            <p class="font-italic">1,32</p>
          </div>
          <div class="col-sm text-left border-left">
            <h4>Arria VI</h4>
            <p class="mb-5 text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                <input type="text" aria-label="Dollar amount (with dot and two decimal places)" aria-describedby="apustuBotoia" class="form-control">
                <div class="input-group-append">
                  <button id="apustuBotoia" type="button" class="btn btn-primary">Jokatu</button>
                </div>
              </div>
            </div>
            <p class="font-italic">2,45</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}