{% extends "kudeaketa/oinarria.html" %}

{% block edukia %}

<section class="py-5">
  <div class="row">
    <!-- Basic Form-->
    <div class="col-lg-6 mb-5">
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0">Basic Form</h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <form>
            <div class="form-group">
              <label class="form-control-label text-uppercase">Email</label>
              <input type="email" placeholder="Email Address" class="form-control">
            </div>
            <div class="form-group">       
              <label class="form-control-label text-uppercase">Password</label>
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">       
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Horizontal Form-->
    <div class="col-lg-6 mb-5">
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0">Horizontal Form</h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Email</label>
              <div class="col-md-9">
                <input id="inputHorizontalSuccess" type="email" placeholder="Email Address" class="form-control form-control-success"><small class="form-text text-muted ml-3">Example help text that remains unchanged.</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Password</label>
              <div class="col-md-9">
                <input id="inputHorizontalWarning" type="password" placeholder="Pasword" class="form-control form-control-warning"><small class="form-text text-muted ml-3">Example help text that remains unchanged.</small>
              </div>
            </div>
            <div class="form-group row">       
              <div class="col-md-9 ml-auto">
                <input type="submit" value="Signin" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Inline Form-->
    <div class="col-lg-8 mb-5">                           
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0">Inline Form</h3>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="inlineFormInput" class="sr-only">Name</label>
              <input id="inlineFormInput" type="text" placeholder="Jane Doe" class="mr-3 form-control">
            </div>
            <div class="form-group">
              <label for="inlineFormInputGroup" class="sr-only">Username</label>
              <input id="inlineFormInputGroup" type="text" placeholder="Username" class="mr-3 form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Form-->
    <div class="col-lg-4 mb-5">
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0">Modal Form</h3>
        </div>
        <div class="card-body">
          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Form in a simple modal </button>
          <!-- Modal-->
          <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
            <div role="document" class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="exampleModalLabel" class="modal-title">Signin Modal</h4>
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <p>Lorem ipsum dolor sit amet consectetur.</p>
                  <form>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" placeholder="Email Address" class="form-control">
                    </div>
                    <div class="form-group">       
                      <label>Password</label>
                      <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">       
                      <input type="submit" value="Signin" class="btn btn-primary">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Form Elements -->
    <div class="col-lg-12 mb-5">
      <div class="card">
        <div class="card-header">
          <h3 class="h6 text-uppercase mb-0">All form elements</h3>
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Normal</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Help text</label>
              <div class="col-md-9">
                <input type="text" class="form-control"><small class="form-text text-muted ml-3">A block of help text that breaks onto a new line and may extend beyond one line.</small>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Password</label>
              <div class="col-md-9">
                <input type="password" name="password" class="form-control">
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Placeholder</label>
              <div class="col-md-9">
                <input type="text" placeholder="placeholder" class="form-control">
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Ranges</label>
              <div class="col-md-9">
                <div>
                  <label for="formControlRange">Example Range</label>
                  <input id="formControlRange" type="range" class="form-control-range">
                </div>
                <div>
                  <label for="customRange1">Custom Range</label>
                  <input id="customRange1" type="range" class="custom-range">
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Disabled</label>
              <div class="col-md-9">
                <input type="text" disabled="" placeholder="Disabled input here..." class="form-control">
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Checkboxes and radios <br><small class="text-primary">Standard HTML elements</small></label>
              <div class="col-md-9">
                <div>
                  <input id="option" type="checkbox" value="">
                  <label for="option">Option one is this and that—be sure to include why it's great</label>
                </div>
                <div>
                  <input id="optionsRadios1" type="radio" checked="" value="option1" name="optionsRadios">
                  <label for="optionsRadios1">Option one is this and that be sure to include why it's great</label>
                </div>
                <div>
                  <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios">
                  <label for="optionsRadios2">Option two can be something else and selecting it will deselect option one</label>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Inline checkboxes</label>
              <div class="col-md-9">
                <label class="checkbox-inline">
                  <input id="inlineCheckbox1" type="checkbox" value="option1"> a
                </label>
                <label class="checkbox-inline">
                  <input id="inlineCheckbox2" type="checkbox" value="option2"> b
                </label>
                <label class="checkbox-inline">
                  <input id="inlineCheckbox3" type="checkbox" value="option3"> c
                </label>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Checkboxes &amp; radios <br><small class="text-primary">Bootstrap4 custom controls</small></label>
              <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                  <input id="customCheck1" type="checkbox" class="custom-control-input">
                  <label for="customCheck1" class="custom-control-label">Check this custom checkbox</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="customRadioInline1" type="radio" name="customRadioInline1" class="custom-control-input">
                  <label for="customRadioInline1" class="custom-control-label">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input">
                  <label for="customRadioInline2" class="custom-control-label">Or toggle this other custom radio</label>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Select</label>
              <div class="col-md-9 select mb-3">
                <select name="account" class="form-control">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                </select>
              </div>
              <div class="col-md-9 ml-auto select">
                <select multiple="" class="form-control rounded">
                  <option>option 1</option>
                  <option>option 2</option>
                  <option>option 3</option>
                  <option>option 4</option>
                </select>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row has-success">
              <label class="col-sm-3 form-control-label">Input with success</label>
              <div class="col-sm-9">
                <input type="text" class="form-control is-valid">
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row has-danger">
              <label class="col-sm-3 form-control-label">Input with error</label>
              <div class="col-sm-9">
                <input type="text" class="form-control is-invalid">
                <div class="invalid-feedback ml-3">Please provide your name.</div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Control sizing</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" placeholder=".input-lg" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Default input" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder=".input-sm" class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Column sizing</label>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" placeholder=".col-md-3" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <input type="text" placeholder=".col-md-4" class="form-control">
                  </div>
                  <div class="col-md-5">
                    <input type="text" placeholder=".col-md-5" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Input groups</label>
              <div class="col-md-9">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                    <input type="text" aria-label="Dollar amount (with dot and two decimal places)" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" aria-label="Dollar amount (with dot and two decimal places)" class="form-control">
                    <div class="input-group-append"><span class="input-group-text">$</span></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                    <input type="text" aria-label="Amount (to the nearest dollar)" class="form-control">
                    <div class="input-group-append"><span class="input-group-text">.00</span></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                      </div>
                    </div>
                    <input type="text" aria-label="Text input with checkbox" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input type="radio" aria-label="Radio button for following text input">
                      </div>
                    </div>
                    <input type="text" aria-label="Text input with radio button" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Button addons</label>
              <div class="col-md-9">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button id="button-addon1" type="button" class="btn btn-primary">Button</button>
                    </div>
                    <input type="text" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" class="form-control">
                    <div class="input-group-append">
                      <button id="button-addon2" type="button" class="btn btn-primary">Button</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">With dropdowns</label>
              <div class="col-md-9">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle">Dropdown</button>
                    <div class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <input type="text" aria-label="Text input with dropdown button" class="form-control">
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <div class="col-md-9 ml-auto">
                <button type="submit" class="btn btn-secondary">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h6 class="text-uppercase mb-0">Basic Table</h6>
        </div>
        <div class="card-body">
          <table class="table card-text">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h6 class="text-uppercase mb-0">Striped Table</h6>
        </div>
        <div class="card-body">                           
          <table class="table table-striped card-text">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter                            </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-header">
          <h6 class="text-uppercase mb-0">Striped table with hover effect</h6>
        </div>
        <div class="card-body">                           
          <table class="table table-striped table-hover card-text">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter                            </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Sam</td>
                <td>Nevoresky</td>
                <td>@facebook                            </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h6 class="text-uppercase mb-0">Compact Table</h6>
        </div>
        <div class="card-body">                          
          <table class="table table-striped table-sm card-text">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter      </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h1 class="mt-5">Bootstrap(ious) 4 Boilerplate</h1>
    <p>This is a sample content.</p>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1>Kitchen Sink</h1>
      <p>A quick preview of everything Bootstrap has to offer.</p>
      <p><a href="#" class="btn btn-primary btn-large">Learn more »</a> <a href="#" class="btn btn-outline-primary btn-large">Learn more »</a></p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="headings" class="card mb-4">
          <div class="card-header">Headings</div>
          <div class="card-body">
            <h1 class="page-header">Page Header<small>With Small Text</small></h1>
            <h1>This is an h1 heading</h1>
            <h2>This is an h2 heading</h2>
            <h3>This is an h3 heading</h3>
            <h4>This is an h4 heading</h4>
            <h5>This is an h5 heading</h5>
            <h6>This is an h6 heading</h6>
          </div>
        </div>
        <div id="tables" class="card mb-4">
          <div class="card-header">Tables</div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Tables</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Michael</td>
                  <td>Are formatted like this</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lucille</td>
                  <td>Do you like them?</td>
                </tr>
                <tr class="success">
                  <td>3</td>
                  <td>Success</td>
                  <td></td>
                </tr>
                <tr class="danger">
                  <td>4</td>
                  <td>Danger</td>
                  <td></td>
                </tr>
                <tr class="warning">
                  <td>5</td>
                  <td>Warning</td>
                  <td></td>
                </tr>
                <tr class="active">
                  <td>6</td>
                  <td>Active</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Tables</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Michael</td>
                  <td>This one is bordered and condensed</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Lucille</td>
                  <td>Do you still like it?</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="content-formatting" class="card mb-4">
          <div class="card-header">Content Formatting</div>
          <div class="card-body">
            <p class="lead">This is a lead paragraph.</p>
            <p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to 
              <u>multiple lines</u> so that you can see how the line spacing looks.
            </p>
            <p class="text-muted">Muted color paragraph.</p>
            <p class="text-warning">Warning color paragraph.</p>
            <p class="text-danger">Danger color paragraph.</p>
            <p class="text-info">Info color paragraph.</p>
            <p class="text-primary">Primary color paragraph.</p>
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </nav>
            <p><small>This is text in a <code>small</code> wrapper. <abbr title="No Big Deal">NBD</abbr>, right?</small></p>
            <hr>
            <address><strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br><abbr title="Phone">P:</abbr> (123) 456-7890</address>
            <address class="col-6"><strong>Full Name</strong><br><a href="mailto:#">first.last@example.com</a></address>
            <hr>
            <blockquote>Here's what a blockquote looks like in Bootstrap.<small>Use <code>small</code> to identify the source.</small></blockquote>
            <hr>
            <div class="row">
              <div class="col-xs-6">
                <ul>
                  <li>Normal Unordered List</li>
                  <li>Can Also Work
                    <ul>
                      <li>With Nested Children</li>
                    </ul>
                  </li>
                  <li>Adds Bullets to Page</li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ol>
                  <li>Normal Ordered List</li>
                  <li>Can Also Work
                    <ol>
                      <li>With Nested Children</li>
                    </ol>
                  </li>
                  <li>Adds Bullets to Page</li>
                </ol>
              </div>
            </div>
            <hr>
            <pre>\nfunction preFormatting() {  // looks like this;  var something = somethingElse;  return true;}                        </pre>
          </div>
        </div>
      </div>
    </div>
    <div id="forms" class="card mb-4">
      <div class="card-header">Forms</div>
      <div class="card-body">
        <form>
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="exampleInputEmail">Email address</label>
              <input id="exampleInputEmail" type="text" placeholder="Enter email" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <input id="exampleInputPassword" type="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-check form-group">
              <input id="checkbox-1" type="checkbox" class="form-check-input">
              <label for="checkbox-1" class="form-check-label">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
        <hr class="my-5">
        <form class="form-inline">
          <input type="text" placeholder="Email" class="form-control mb-2 mr-sm-2">
          <label for="inlineFormInputGroupUsername2" class="sr-only">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input id="inlineFormInputGroupUsername2" type="text" class="form-control">
          </div>
          <div class="form-check mb-2 mr-sm-2">
            <input id="inlineFormCheck" type="checkbox" class="form-check-input">
            <label for="inlineFormCheck" class="form-check-label">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        <hr class="my-5">
        <h4 class="mb-5">Horizontal form</h4>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input id="inputEmail3" type="email" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input id="inputPassword3" type="password" placeholder="Password" class="form-control">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input id="gridRadios1" type="radio" name="gridRadios" value="option1" checked="" class="form-check-input">
                  <label for="gridRadios1" class="form-check-label">First radio</label>
                </div>
                <div class="form-check">
                  <input id="gridRadios2" type="radio" name="gridRadios" value="option2" class="form-check-input">
                  <label for="gridRadios2" class="form-check-label">Second radio</label>
                </div>
                <div class="form-check disabled">
                  <input id="gridRadios3" type="radio" name="gridRadios" value="option3" disabled="" class="form-check-input">
                  <label for="gridRadios3" class="form-check-label">Third disabled radio</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input id="gridCheck1" type="checkbox" class="form-check-input">
                <label for="gridCheck1" class="form-check-label">Example checkbox</label>
              </div>
            </div>
          </div>
          <div class="form-group row">                                   
            <div class="col-sm-2">Custom Checkbox</div>
            <div class="col-sm-10">
              <div class="custom-control custom-checkbox">
                <input id="customCheck1" type="checkbox" class="custom-control-input">
                <label for="customCheck1" class="custom-control-label">Check this custom checkbox</label>
              </div>
            </div>
          </div>
          <div class="form-group row">                                   
            <div class="col-sm-2">Custom Radio</div>
            <div class="col-sm-10">
              <div class="custom-control custom-radio">
                <input id="customRadio1" type="radio" name="customRadio" class="custom-control-input">
                <label for="customRadio1" class="custom-control-label">Toggle this custom radio</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="customRadio2" type="radio" name="customRadio" class="custom-control-input">
                <label for="customRadio2" class="custom-control-label">Or toggle this other custom radio</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="buttons" class="card">
      <div class="card-header">Buttons</div>
      <div class="card-body">
        <p>
          <button type="button" class="btn btn-lg btn-secondary">Default Lg</button>
          <button type="button" class="btn btn-lg btn-primary">Primary</button>
          <button type="button" class="btn btn-lg btn-success">Success</button>
          <button type="button" class="btn btn-lg btn-info">Info</button>
          <button type="button" class="btn btn-lg btn-warning">Warning</button>
          <button type="button" class="btn btn-lg btn-danger">Danger</button>
          <button type="button" class="btn btn-lg btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-secondary">Default </button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-link">Link</button>
        </p>
        <p>
          <button type="button" class="btn btn-sm btn-secondary">Default Sm</button>
          <button type="button" class="btn btn-sm btn-primary">Primary</button>
          <button type="button" class="btn btn-sm btn-success">Success</button>
          <button type="button" class="btn btn-sm btn-info">Info</button>
          <button type="button" class="btn btn-sm btn-warning">Warning</button>
          <button type="button" class="btn btn-sm btn-danger">Danger</button>
          <button type="button" class="btn btn-sm btn-link">Link</button>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Button dropdown</div>
      <div class="card-body">
        <div class="dropdown">
          <button id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle">Dropdown button</button>
          <div aria-labelledby="dropdownMenuButton" class="dropdown-menu"><a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}